@import url(./Message.css);
@import url(./MessageForm.css);
@import url(./MessageList.css);
@import url(./ReplyForm.css);
@import url(./Reply.css);
@import url(./SortList.css);
@import url(./Navigation.css);

.chat {
    max-width: 680px;
    width: 100%;

    position: absolute;
    transform: translateX(-50%);

    left: 50%;

    padding: 25px 0;
}

.chat-wrapper {
    width: 100%;
    padding: 0 12px 12px;
}

.chat__message-form {
    margin-top: 10px;
}

.chat-header {
    padding: 6px 0;
    display: flex;
    justify-content: space-between
}

.pointer { 
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}