.message-form {
   width: 100%;
}

.message-form__wrapper {
    padding: 10px;
    display: flex;
}

.message-form-label {
    width: 100%;
}

.message-form-input {
    width: 100%;
    height: 27px;
    padding: 0 5px;
}

.message-form-button {
    flex-shrink: 0;
    flex-grow: 0;
    width: 55px;
}

.message-form__button {
    margin-left: 10px;
}