.message {
    padding: 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-actions {
    display: flex;
    justify-content: space-between;
}

.message__actions {
    margin-top: 5px;
}

.message-action {
    display: flex;
    letter-spacing: 1px;
}

.message-action_like {
    margin-right: 5px;
}

.message-action_reply {
    width: 80%;
    text-align: right;
}

.message-replies__reply {
    margin-top: 7px;
    margin-left: auto;
}
